@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");

html {
  font-size: 10px;
  background: url("https://cdn.pixabay.com/photo/2019/04/13/20/51/music-background-4125573_1280.jpg")
    bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heading {
  font-size: 6rem;
  font-weight: 50;
  text-align: center;
  border: 3px solid black;
  width: 40%;
  background: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: block;
  font-family: "Hanalei Fill", cursive;
  letter-spacing: 6px;
  margin: auto;
  height: 12vh;
  color: #e7b910;
  margin-top: 20px;
}

span {
  color: black;
}

.keys {
  display: flex;
  min-height: 93vh;
  align-items: center;
  justify-content: center;
}

.key {
  display: inline-block;
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
